#menu {
    width: 100%;
    background-color: #211d1d;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.3s;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#menu li {
    margin: 0 15px;
}

#menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s;
}

#menu a:hover {
    color: #e0e0e0;
}

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.3s;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Mise en page du conteneur principal */
    .container {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 40px;
    }

    /* En-tête */
    header {
      text-align: center;
      padding: 50px 0;
    }

    header h1 {
      font-size: 3em;
      color: #3498db;
      margin-bottom: 20px;
      animation: fadeIn 2s ease-out;
    }

    header p {
      font-size: 1.2em;
      color: #858585;
      margin-bottom: 40px;
      animation: fadeIn 2s ease-out 0.5s;
    }

    /* Section à propos */
    .section {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
      animation: slideIn 1s ease-out;
    }

    .section img {
      max-width: 100%;
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }

    .section-text {
      flex: 1;
      padding: 20px;
    }

    .section-text h2 {
      font-size: 2em;
      color: #3498db;
      margin-bottom: 20px;
    }

    .section-text p {
      font-size: 1.1em;
      color: #858585;
      margin-bottom: 20px;
    }

    .section-text-img-gauche {
        flex: 1;
        padding: 20px;
    }

    .section-text-img-gauche h2 {
        font-size: 2em;
        color: #3498db;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .section-text-img-gauche p {
        font-size: 1.1em;
        color: #858585;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .isere {
        height: 250px;
        margin-top: 40px;
        margin-right: 20px;
    }

    .ipad {
        position: relative;
        margin-left: 20px;
        margin-top: 50px;
        height: 180px;
        width: 268px;
    }

    .evolution {
        margin-right: 20px;
        position: relative;
        margin-top: 50px;
        height: 230px;
        width: 225px;
    }

    /* Animation des sections */
    @keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }

    @keyframes slideIn {
      0% { transform: translateX(-100%); opacity: 0; }
      100% { transform: translateX(0); opacity: 1; }
    }

    /* Pied de page */
    .content {
          flex: 1; /* Prend tout l'espace disponible pour pousser le footer en bas */
          padding: 20px;
        }
        .wrapper {
              display: flex;
              flex-direction: column;
              min-height: 100vh;
            }

        /* Pied de page */
        footer {
          background-color: #3498db;
          color: white;
          text-align: center;
          padding: 20px;
          align-top: 200px;
        }

    footer p {
      font-size: 1em;
    }

    footer a {
      color: white;
      text-decoration: none;
      font-weight: bold;
    }

body.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode #app {
    background-color: #444;
    color: #fff;
}

.dark-mode button {
    background-color: #66bb6a;
}

.dark-mode #darkModeToggle {
    color: #fff;
}